<!DOCTYPE HTML>
<html>
<head >
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta  charset="utf-8">
    <title>İzmir Teknik Servis, Servis Formu kontrol, durum öğrenme | izmirteknikservis.tk</title>
    <meta name="description" content="İzmir Teknik Servis, Servis formu kontrol, durum öğrenme"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="canonical" href="http://www.izmirteknikservis.tk"/>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel='stylesheet' type="'text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <link rel="stylesheet" href="/media/styles.css">
    <style>
        body {
            margin: 10px auto;
            background: #FCA205;
        }

        .dis {
            width: 100%;

            top: 10px;
        }
        .sabitust{
            position: fixed;
            left: 0px;
            top:0px;
            height: 70px;
            width: 100%;
            background: #44B78B;
            z-index: 9999;
            line-height: 100px;
        }

        .orta {
            left: 50px;
            top:20px;
            height: 100px;
            width: 95%;
            margin:200px auto;
        }

        .sabitalt {
            position: fixed;
            left: 0px;
            bottom: 0px;
            height: 60px;
            width: 100%;
            background: #C9F0DD;
            z-index: 9999;
            line-height: 40px;
        }
    </style>
</head>
<body>


<div class="dis">



    <div class="sabitust">
        <p><a href="/">Ana Sayfa</a> | <a href="/test/">Test</a></p>
    </div>

    <div class="sabitalt">Sabit Alt</div>

    <div class="orta">

        {% block orta %}
        {% endblock %}
        <script src="/media/html5shiv.min.js"></script>
        <script src="/media/jquery-1.9.1.min.js"></script>

        {% block middle %}

        {% endblock %}
    </div>

</div>






</body>
</html>





















