{% extends "base.html" %}

{% block orta %}
<body>
    <div id='wrap'>
        <div id="sonuclariBurcu"
             style="color:#ffffff;font-size:2.4vw;position:fixed;width:95%;top:20%;left:50%;-webkit-transform:translate(-50%, -50%);transform: translate(-50%, -50%);">
        </div>
        <div id='content'>
            <section class='input'>
                <div>
                    <input type='text' placeholder='Form No' id="arama" maxlength="8">
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block middle %}

<script src='/media/fancyInput.js'></script>
    <script>
        $('section :input').val('').fancyInput()[0].focus();
        var aramam = document.getElementById('arama');
        var sonuclariBurcu=document.getElementById('sonuclariBurcu');
        aramam.addEventListener('keypress', function (event) {
            if(event.keyCode==13) {
                sonuclariBurcu.innerHTML = "";
                if (aramam.value.length == 8) {
                    sonuclariBurcu.innerHTML ="Sorgulanıyor..<br /> Lütfen Bekleyiniz.";
                    $.post("/kn/", {
                        TakipNo:aramam.value,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }, function (data) {
                        sonuclariBurcu.innerHTML = data;
                    });
                } else {
                    sonuclariBurcu.innerHTML ="Uygun bir arama kategorisi bulunamadı!";
                    window.setTimeout(function () {
                        aramam.focus();
                    }, 0);
                }
            }
        })
    </script>
{% endblock %}


