<table style='width:100%;'>
    <tr>
        <th style='width:80%;' align='left'>Ürün</th>
        <th style='width:50%;' align='left'>Not</th>
        <th style='width:80%;' align='left'>Durum</th>
    </tr>

    {% for k in urunler %}
        <tr>
            <td align='left'>{{ k.Cins }} - {{ k.Marka }} - {{ k.Model }}</td>
            <td align='left'>{{ k.Not }}</td>
            <td align='left'>{{ k.Durum.durumu }}</td>
        </tr>
    {% endfor %}
</table>
