
    <p>Etiketler</p>
    <br/><br/><br/><br/>
    <u1>
        {% for k in list1 %}+
            <li>{{ k|default:"default degeridegistirildi " }}</li>
        {% endfor %}
    </u1>
    <u1>
        {% for k in list2 %}
            <li>{{ k|default_if_none:"None idi" }}</li>
        {% endfor %}
    </u1>
